    @model IEnumerable<WebStoreDomain.Entities.Category>



    <div style="text-align: center; margin: 10px;">

        @Html.ActionLink("all", "List", "Product", null, new { @class = "btn btn-default" })
        @foreach (var catergory in Model)
        {
            @*@Ajax.ActionLink(catergory.Name, "List", "Product", new { category = catergory.Name, page = 1 }, new AjaxOptions{ UpdateTargetId="results"} , new { @class = "btn btn-default" })*@
            @Html.ActionLink(catergory.Name, "List", "Product", new { category = catergory.Name, page = 1 }, new { @class = "btn btn-default" })
        }
    </div>